* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .pagewrapper {
    background-color: rgb(255 255 255);
    padding: 30px 7px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
  }
  
  @media (max-width: 460px) {
    .pagewrapper {
      width: 100%;
    }
  }
  
  #main {
    background-color: rgb(224 224 224);
    text-align: center;
  }
  
  #title {
    padding-top: 45px;
  }
  
  #title h1 {
    padding-bottom: 20px;
    font-size: 40px;
  }
  
  #title > p {
    padding-bottom: 25px;
    font-size: 15px
  }
  
  #img-fig {
    background-color: rgb(255 255 255);
    margin: 0 20px;
    height: 680px
  }
  
  @media (max-width: 460px) {
    #img-fig {
      height: 100%;
    }
  }
  
  #image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  #img-caption {
    padding-top: 10px;
  }
  
  #tribute {
    display: block;
    padding-top: 50px
  }
  
  ul {
    width: 560px;
    margin: 0 auto 48px auto;
    text-align: left;
    line-height: 1.7;
    padding: 50px 30px 20px 30px;
  }
  
  @media (max-width: 460px) {
    ul {
      width: 100%;
    }
  }
  
  li {
    padding-bottom: 20px
  }
  
  li:last-of-type {
    padding-bottom: 0
  }
  
  #quote {
    width: 560px;
    margin: 0 auto 48px auto;
    text-align: left;
  }
  
  @media (max-width: 460px) {
    #quote {
      width: 100%;
    }
  }
  
  #more-info > p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  
  